/* csslint ignore:start */

/* @tailwind base; */

@tailwind components;

@tailwind utilities;

/* csslint ignore:end */

.page{
    padding-top:50px ;
    padding-bottom: 70px;
}

.icon-sm{
    width: 1.4em !important;
    height: 1.4em !important;
}
.icon-md{
    width: 2em !important;
    height: 2em !important;
}
.icon-lg{
    width: 4em !important;
    height: 4em !important;
}
.icon-xl{
    width: 5em !important;
    height: 5em !important;
}

.bg-instagram { 
    overflow: hidden;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.bg-twitter {
    background: #1DA1F2;
}
.bg-telegram{
    background: #0088cc;
}

.bg-linkedin{
    background: #0072b1;
}