/* csslint ignore:start */

/* @tailwind base; */

@tailwind components;

@tailwind utilities;

/* csslint ignore:end */

.page{
    padding-top:50px ;
    padding-bottom: 50px;
}

.icon-sm{
    width: 1.4em !important;
    height: 1.4em !important;
}
.icon-md{
    width: 2em !important;
    height: 2em !important;
}
.icon-lg{
    width: 4em !important;
    height: 4em !important;
}
.icon-xl{
    width: 5em !important;
    height: 5em !important;
}